<section class="about-us-section section" id="about-us">
  <div class="container">
    <h2 class="about-us-title">Про нас</h2>
    <section class="about-us">
      <article class="about-us-desc">
        <p class="description">
        Ласкаво просимо до AutoHelp — мобільного шиномонтажу, створеного ветеранами.
        Наша мета — забезпечити вашу безпеку на дорозі, надаючи якісні послуги на місці.
        Ми використовуємо найкращі матеріали та обладнання, щоб ви почувалися впевнено.
        Від ремонту до заміни шин — все виконується з увагою до деталей і професіоналізмом наших фахівців. 
        Оберіть AutoHelp для вашого комфорту та безпеки.
        </p>
      </article>
      <article class="why-we">
        <h3 class="about-us-subtitle">Чому саме ми?</h3>
        <ul class="about-us-list">
          <li class="about-us-item">
            <h5 class="advantage">Ми Приїдемо до Вас</h5>
            <p class="about-the-advantage">Не потрібно їхати в сервіс - ми надаємо професійні послуги у вашому місці</p>
          </li>
          <li class="about-us-item">
            <h5 class="advantage">Швидка Відповідь</h5>
            <p class="about-the-advantage">Доступний сервіс того ж дня для екстрених замін шин</p>
          </li>
          <li class="about-us-item">
            <h5 class="advantage">Досвідчені Техніки</h5>
            <p class="about-the-advantage">Повністю кваліфіковані професіонали з багаторічним досвідом</p>
          </li>
        </ul>
      </article>  
    </section>
  </div>
</section>
