<html>
  <body>
    <footer id="footer">
      <div class="container footer-container">
        <div class="footer-title-about">
          <a href="#header" class="footer-title-link">
            <h2 class="footer-title">
            AutoHelp <br /><span class="footer-subtitle">мобільний шиномонтаж</span>
            </h2>
            <p class="footer-slogan">
          Від ремонту до заміни шин — все виконується з увагою до деталей і
          професіоналізмом наших фахівців.
            </p>
          </a>
        </div>

        <div class="footer-contact">
          <ul class="footer-contact-list">
            <li class="footer-contact-item">
              <a href="tel:+380632773766" class="contact-phone">
                <svg class="icon-phone-call" width="22px" height="22px">
                  <use href="./img/sprite.svg#icon-phone"></use>
                </svg>
                +380632773766
              </a>
            </li>
            <li class="footer-contact-item">
              <a
                class="social-link"
                href="https://www.instagram.com/lviv_auto_help/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Visit our Instagram page"
                title="Visit our Instagram"
              >
              Слідкуйте за нами
                <svg class="footer-social-icon" width="22px" height="22px">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="location">
            <p>Україна, м.Львів</p>
            <svg class="icon-location" width="22" height="22">
              <use href="./img/sprite.svg#icon-location"></use>
            </svg>
            
          </div>
          <p class="copy-writes">© 2025 AutoHelp. Усі права захищено.</p>
        </div>
      </div>
    </footer>
  </body>
</html>