<html>
  <body>
    <header class="header" id="header">
      <div class="header-container container">
        <nav class="header-nav">
          <a href="#home" class="header-logo">
            <img class="header-logo-img" src="./img/AutoHelp_without_slogan.svg" alt="Site logo" width="40" height="40">
              <span class="logo-name">AutoHelp</span>
          </a> 

          <ul class="header-list">
            <li class="header-item">
              <a class="header-link" href="#about-us">
                Про нас
              </a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#services">
                Наші послуги
              </a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#reviews">
              Відгуки
              </a>
            </li>
            <li class="header-item">
              <a class="header-link" href="#footer">
              Контакти
              </a>
            </li>
          </ul>

          
          <div class="menu-container">
            <input id="menu-toggle" class="menu-checkbox" type="checkbox" />
              <label for="menu-toggle" class="menu-icon">
              <span class="menu-checkbox-line"></span>
              <span class="menu-checkbox-line"></span>
              <span class="menu-checkbox-line"></span>
              </label>  
            <ul class="mobile-menu-list">
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#about-us" onclick="closeMenu()">Про нас</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#services" onclick="closeMenu()">Наші послуги</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#reviews" onclick="closeMenu()">Відгуки</a>
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#footer" onclick="closeMenu()">Контакти</a>
              </li>
              <li class="mobile-contact-item">
                <a href="tel:+380632773766" class="contact-phone">
                  <svg class="icon-phone-call" width="22px" height="22px">
                    <use href="./img/sprite.svg#icon-phone"></use>
                  </svg>
                  +380632773766
                </a>
              </li>
              <li class="mobile-social-item">
                <a
                  class="mobile-social-link"
                  href="https://www.instagram.com/lviv_auto_help/"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Visit our Instagram page"
                  title="Visit our Instagram"
                >
                Слідкуйте за нами
                  <svg class="mobile-social-icon" width="22px" height="22px">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul> 
          </div>  
        </nav>
      </div>
    </header>
</body>
</html>
