<section class="our-services section" id="services">
  <div class="container">
    <h2 class="our-services-title">Наші послуги</h2>
    <ul class="our-services-list">
      <li class="our-services-item">
        <ol class="our-services-box">
          <img
            class="our-services-pic"
            src="./img/mobilni_shunomontaz.jpg"
            alt="Мобільний шиномонтаж"
            width="360" 
            height="250"
          />
          <p class="service-description-overlay">
            Зручна послуга, яка дозволяє отримати професійний шиномонтаж прямо на місці. Наша команда фахівців швидко та ефективно виконає всі необхідні роботи, без потреби виїжджати до сервісу чи чекати в черзі. Просто зателефонуйте, і ми прибудемо, щоб вирішити всі ваші потреби.
          </p>
        </ol>
        <ol class="our-services-about"> 
          <h3 class="service-title">Мобільний шиномонтаж</h3>
          
        </ol>
      </li>
      <li class="our-services-item">
        <ol class="our-services-box">
          <img 
            class="service-pic"   
            src="./img/syhii_tuman.jpeg" 
            alt="Послуга оброблення сухого туману"
            width="360"
            height="250">   
          <p class="service-description-overlay">
            Інноваційний метод очищення та дезінфекції автомобілів і приміщень за допомогою сухого туману. Ефективно усуває бактерії, віруси, алергени та неприємні запахи. Автомобіль або приміщення залишається свіжим, безпечним та приємно ароматизованим, забезпечуючи комфорт і здоров'я для вас та вашої родини.
          </p>            
        </ol>
        <ol class="our-services-about">
          <h3 class="service-title">Послуга оброблення сухого туману</h3>
        </ol>
      </li>
      <li class="our-services-item">
        <ol class="our-services-box">
          <img
            class="our-services-pic" 
            src="./img/zapusk_akb.jpg" 
            alt="Запуск АКБ"
            width="360"
            height="250">
          <p class="service-description-overlay">
            Це послуга, яка дозволяє швидко відновити роботу акумуляторної батареї вашого автомобіля в разі її розрядження. Фахівці використовують професійне обладнання для безпечного запуску двигуна без ризику пошкодження електроніки.
          </p>
        </ol>
        <ol class="our-services-about">
          <h3 class="service-title">Запуск АКБ</h3>
        </ol>
      </li>
      <li class="our-services-item">
        <ol class="our-services-box">
          <img
            class="our-services-pic" 
            src="./img/pidviz_oil.jpg" 
            alt="Підвіз пального"
            width="360"
            height="250"> 
          <p class="service-description-overlay">
            Ми доставимо пальне прямо на місце швидко, надійно і зручно. Не турбуйтеся про рівень пального чи стан акумулятора — наша команда готова допомогти в будь-який час. Довіртеся нам, і ми зробимо вашу подорож безпечною та комфортною!
          </p>
        </ol>
        <ol class="our-services-about">
          <h3 class="service-title">Підвіз пального</h3>
        </ol>
      </li>
      <li class="our-services-item">
        <ol class="our-services-box">
          <img
            class="our-services-pic" 
            src="./img/comp_diagnostic.jpg" 
            alt="Kомпьютерна діагностика автомобіля"
            width="360"
            height="250">
          <p class="service-description-overlay">
            Отримайте точну діагностику вашого автомобіля за допомогою нашої комп'ютерної системи. Кваліфіковані техніки виявлять проблеми з електронікою, двигуном, трансмісією та іншими системами. Довіртеся нашій команді для надійності та безпеки вашої поїздки!
          </p>
        </ol>
        <ol class="our-services-about">
          <h3 class="service-title">Kомпьютерна діагностика автомобіля</h3>
        </ol>
      </li>
      <li class="our-services-item">
        <ol class="our-services-box">
          <img
            class="our-services-pic" 
            src="./img/zberiganja_shun.jpg" 
            alt="Зберігання шин"
            width="360"
            height="250">
          <p class="service-description-overlay">
            Правильне зберігання шин — важлива частина догляду за автомобілем. Забезпечте чистоту, сухе місце, уникайте прямих сонячних променів, підтримуйте стабільну температуру і регулярно перевіряйте стан шин.
          </p>  
        </ol>
        <ol class="our-services-about">
          <h3 class="service-title">Зберігання шин</h3>
        </ol>
      </li>
    </ul>
  </div>
</section>
